@media screen and (max-width: 1400px) {
  .mt-10-lg {
    margin-top: 100px;
  }

  .wrap-lg {
    flex-wrap: wrap;
  }

  .justify-center-lg {
    justify-content: center;
  }

  .text-center-lg {
    text-align: center;
  }

  .mt-6-lg {
    margin-top: 60px;
  }

  .flex-lg {
    display: flex;
  }

  .flex-column-lg {
    flex-direction: column;
  }

  .items-center-lg {
    align-items: center;
  }

  .socials {
    display: none;
  }

  #nav-bar-closed {
    background: transparent;
    box-shadow: none;
  }

  #nav-bar-open {
    width: 300px;
  }
}

@media screen and (max-width: 900px) {
  .font-xxxl-lg {
    font-size: 5rem;
  }

  .flex-column-md {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .header-image {
    width: 500px;
  }

  .wrap-md {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 600px) {
  .header-image {
    width: 400px;
  }

  .font-xxxl-lg {
    font-size: 3rem;
  }

  .font-lg-lg {
    font-size: 1.3rem;
  }

  .w-90-md {
    max-width: 90%;
  }

  .flex-column-sm {
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .header-image {
    width: 400px;
  }

  .font-xxxl-lg {
    font-size: 2.5rem;
  }

  .font-lg-lg {
    font-size: 1rem;
  }

  .flex-column-xs {
    flex-direction: column;
  }

  .gap-0-xs {
    gap: 0px;
  }

  .items-start-xs {
    align-items: flex-start;
  }

  .mt-4-xs {
    margin-top: 40px;
  }

  .text-center-xs {
    text-align: center;
  }
}
